// Footer
footer {
    background-color: rgb(41, 26, 16);
    text-align: center;

    p {
        margin: 0;
        padding: 0.7% 0;
        font-size: 16px;
        color:rgb(254,249,239);

        a {
            text-decoration: none;
            font-size: 16px;
            color:rgb(254,249,239);  
        }

        a:hover,
        a:focus {
            color:rgb(214, 205, 188); 
        }
    }

}