// Header 

header {
    height: 100vh;
    background-image: url(../assets/headerImage.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        background-color: rgb(41, 26, 16, 0.8);
        padding: 4% 4%;
        border-radius: 0.5rem;
        max-width: 600px;

        h1 {
            color: rgb(254,249,239);
        }

        a {
            text-decoration: none;
            color: rgb(254,249,239);
            background-color: rgb(120, 84, 48);
            padding: 2% 3%;
            border-radius: 0.5rem;
            border: 0;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        a:hover, 
        a:focus {
            background-color: rgb(95, 64, 32);
        }

    }
    
}